/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --ion-text-color: #333333;
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}



ion-toolbar {
  box-shadow: 0px 4px 4px #00000033;
}

ion-toolbar ion-item {
  width: 16rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}

ion-toolbar ion-img {
  height: 4rem;
  display: inline-block;
  margin: 0;
  margin-left: -0.5rem;
  width: 14rem;
}

ion-button {
  /* --background: #93e9be;
  --background-hover: #9ce0be;
  --background-activated: #88f4be;
  --background-focused: #88f4be;

  --color: blue;

  --border-radius: 0;
  --border-color: #000;
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px; */
}

ion-label {}

.menuItemName {
  /* color: #000000; */
}

.menuItemCard {
  /* border-radius: 50%; */
}

.menuItemDetailesButton {
  --ion-item-background: #3880ff;
}

.buttonText {
  color: #eeeeee;
}

/* .menuItemOrderAmountContainer {
  gap: "1.8em";
  display: "flex";
  align-items: "center";
  padding: "1.7em";
  width: "95%";
  height: "3em";
  position: "fixed";
  left: "50%";
  transform: "translateX(-50%)";
  bottom: "0px";
  z-index: 300;
} */

/* .addToCartButton {
  width: "100%";
  height: '100%';
  border: "3em";
  border-radius: "0.33em";
} */

/* .menuItemAmount {
  text-align: "center";
  align-self: "center";
  padding-right: "1em";
  padding-left: "1em";
} */

.foodMenuRow {
  background-color: #eeeeee;
}

.hbgbutton {
  margin-right: 1rem;
}

.dksegment {
  padding: 1rem;
  background-color: #eeeeee;
}

.dksegment.highlight {
  border-top: 1px solid var(--ion-color-light-tint);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.searchsection h1 .strong {
  line-height: 48px;
  font-weight: 700 !important;
  font-size: 40px;
}

.subheader h1 .strong {
  line-height: 48px;
  font-weight: 700 !important;
  font-size: 30px;
}

.subheader h1 .weak {
  line-height: 48px;
  font-weight: 400 !important;
  font-size: 20px;
}

.subheader h3 {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.subheader .question {
  font-weight: 400 !important;
  color: var(--ion-color-dark-tint);
}

.dklogo {
  width: 4rem;
}

.dklogosvg {
  fill: var(--ion-color-primary);
}

.localads {}

.adcards ion-slides {
  padding-bottom: 2rem;
}

.localads ion-slides {
  padding-bottom: 2rem;
}

.subheader .answer {
  font-weight: 400 !important;
  color: var(--ion-color-danger-tint);
}

.searchsection h1 .weak {
  line-height: 48px;
  font-weight: 200 !important;
  font-size: 40px;
}

.content-center {
  text-align: center;
}

.dksegment ion-input {
  --background: var(--ion-background-color-rgb);
  padding: 0.5rem;
  width: 100%;
  text-align: left;
  height: 2.8rem;
}

.subheaderrow {
  margin-bottom: 0rem;
}


.buttonfield {
  margin-bottom: 1.5rem;
}

.buttonfield ion-input {
  border: 1px solid #00000022;
  border-radius: 5px 0 0 5px;
}

.buttonfield ion-label,
.buttonfield ion-button {
  margin: 0px;
  height: 100%;
  --border-radius: 0 5px 5px 0;
}

.highlight ion-button {
  color: var(--ion-color-primary-contrast);
}

.whiteinput ion-icon {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--ion-color-medium);
}

.buttonfield ion-icon {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--ion-color-medium-contrast);
}

.buttonfield input {
  margin-left: 1rem;
}

.dklist {}

.dklistitem {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #00000099;
}

.dklistheader {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--ion-color-dark-tint);
}

.linkcloud {
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.linkcloudlink {
  font-size: 0.75rem;
  font-weight: 550;
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;

  color: var(--ion-color-medium-tint);
}

.dklistitem,
.dklistheader {
  height: 1.4rem;
  padding-left: 1rem;
  background: transparent;
}

.dklist {
  background: transparent;
}

.linecol {
  height: 2rem;
}

.line {
  background-color: var(--ion-color-dark-tint);
  border-radius: 12px;
  display: inline-table;
  height: 4px;
  margin: 0 0 51px;
  width: 50px;
}

.rounded {
  border-radius: 5px;
  --border-radius: 5px;
}

ion-card.adbox {
  margin: 0;
}

.adbox ion-card-header,
.adbox ion-card-content {
  text-align: left;
}

.storebuttonheader {
  color: var(--ion-color-dark-tint);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 2rem;
}

.storebuttons ion-col {
  padding: 0 0.5rem 0 1rem;
}

.menulogo {
  margin: 0 2.5rem 1.5rem 1.5rem;
}

.copyright {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.credits {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.8rem;
}

.centertoggle {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  --background: transparent;
  font-size: 0.8rem;
  font-weight: 600;
}

.centertoggle ion-toggle {
  height: 0.8rem;
  width: 1.8rem;
  --handle-width: 0.6rem;
}

.inputFieldItem {
  border: 1px solid #cccccc66;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.inputFieldItem ion-label {
  font-size: 0.9rem !important;
}

.backdrop,
.fogdrop {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -10000;
}

.fogdrop.active {
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: grayscale(1) blur(5px);
  -webkit-backdrop-filter: grayscale(1) blur(5px);
  transition: backdrop-filter 5s, z-index 0s 0s;
  -webkit-transition: backdrop-filter 5s, z-index 0s 0s;
  /* Safari */
}

.fogdrop.passive {
  opacity: 0;
  background-color: #fff;
  backdrop-filter: grayscale(0) blur(0px);
  -webkit-backdrop-filter: grayscale(0) blur(0px);
  transition: backdrop-filter 0.5s, opacity 0.5s, z-index 0s 0.5s;
  -webkit-transition: -webkit-backdrop-filter 0.5s, opacity 0.5s, z-index 0s 0.5s;
  /* Safari */
}

.passive .lds-heart {
  display: none !important;
}

.mapboxgl-canary {
  background-color: rgb(250, 128, 114);
}

.lds-heart {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-40px, -40px);
}

.lds-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  padding-top: 90px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--ion-color-light);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.lds-heart div {
  top: 22px;
  left: 22px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: var(--ion-color-danger-shade);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: var(--ion-color-danger-shade);
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95) rotate(45deg);
  }

  5% {
    transform: scale(1.1) rotate(45deg);
  }

  39% {
    transform: scale(0.85) rotate(45deg);
  }

  45% {
    transform: scale(1) rotate(45deg);
  }

  60% {
    transform: scale(0.95) rotate(45deg);
  }

  100% {
    transform: scale(0.9) rotate(45deg);
  }
}

ion-fab.cart-fab {
  right: -6rem;
  transition: right 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

ion-fab.cart-fab.populated {
  right: 1rem;
  bottom: 1rem;
  transition: right s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

p.messageBodyTruncate {
  position: relative;
  height: 1.5rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p.messageBodyTruncate:after {
  content: "";
  position: absolute;
  right: 0px;
  width: 5rem;
  height: 1.3rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  ;
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

ion-item.cart-fab ion-icon {
  color: var(--ion-color-tertiary-contrast);
  line-height: 3rem !important;
  font-size: 3rem !important;
  height: 3rem !important;
  width: 3rem !important;
  margin: 0.5rem 0.7rem 0.5rem 0;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.blob.white {
  background: white;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.blob.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.blob.orange {
  background: rgba(255, 121, 63, 1);
  box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  animation: pulse-orange 2s infinite;
}

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

.blob.yellow {
  background: rgba(255, 177, 66, 1);
  box-shadow: 0 0 0 0 rgba(255, 177, 66, 1);
  animation: pulse-yellow 2s infinite;
}

@keyframes pulse-yellow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

.blob.blue {
  background: rgba(52, 172, 224, 1);
  box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

.blob.green {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.blob.purple {
  background: rgba(142, 68, 173, 1);
  box-shadow: 0 0 0 0 rgba(142, 68, 173, 1);
  animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
  }
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid var(--ion-color-primary);
  border-color: var(--ion-color-primary) transparent var(--ion-color-primary) transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}